@use 'sass:math';
@import '../../css/theme';
@import '../../css/pages';
@import '../../css/mixins';

button {
    text-transform: uppercase;
    font-weight: 500;
}

button[webtv-button],
button[webtv-medium-button],
button[webtv-small-button] {
    color: $label-text-color;
    background: $button-background;
    border: $button-border;
    font-family: $primary-font;
    font-weight: $button-font-weight;

    &:hover,
    &:focus {
        background: $accent;
        border-color: $accent;
        color: $focused-text-color;
        .subtext {
            color: $focused-subtext-color;
        }

        [class*='icon'],
        [class^=' icon-'] {
            color: $focused-text-color;
        }
    }
}

button[webtv-more-button] {
    background: $button-background;
    border: $button-border;
    font-family: $primary-font;
    font-weight: $button-font-weight;
    color: $unfocused-text-color;

    &:focus {
        background: $accent;
        border-color: $accent;
        color: $focused-text-color;
    }

    &:hover {
        color: $focused-text-color;
    }
}

button[webtv-button] {
    @include size-to-720(
        (
            height: 76px,
            font-size: 28px
        )
    );

    .wrapper {
        @include size-to-720(
            (
                padding-left: 40px,
                padding-right: 40px
            )
        );
    }

    .icon {
        @include size-to-720(
            (
                font-size: 42px
            )
        );
    }

    &.only-icon {
        @include size-to-720(
            (
                width: 76px
            )
        );
    }
}

button[webtv-medium-button] {
    @include size-to-720(
        (
            height: 60px,
            font-size: 24px
        )
    );

    .wrapper {
        @include size-to-720(
            (
                padding-left: 30px,
                padding-right: 30px
            )
        );
    }

    .icon {
        @include size-to-720(
            (
                font-size: 34px
            )
        );
    }

    &.only-icon {
        @include size-to-720(
            (
                width: 60px
            )
        );
    }
}

button[webtv-small-button] {
    @include size-to-720(
        (
            height: 45px,
            font-size: 18px
        )
    );

    .wrapper {
        @include size-to-720(
            (
                padding-left: 20px,
                padding-right: 20px
            )
        );
    }

    .icon {
        @include size-to-720(
            (
                font-size: 30px
            )
        );
    }

    &.only-icon {
        @include size-to-720(
            (
                width: 45px
            )
        );
    }
}

button[webtv-button],
button[webtv-medium-button],
button[webtv-small-button] {
    transition: opacity 0.5s;
    padding: 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
    @include tv720 {
        box-shadow: 0 0 math.div(4px, 1.5) 0 rgba(0, 0, 0, 0.6);
    }

    @include size-to-720(
        (
            border-radius: 8px
        )
    );

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content:not(:only-child):not(:empty) {
        @include size-to-720(
            (
                margin-left: 20px
            )
        );
    }

    &.only-icon {
        .wrapper {
            padding: 0;
        }
    }

    &[disabled] {
        opacity: 0.3;
        pointer-events: none;
    }
}

button[webtv-more-button] {
    position: absolute;
    right: 0;
    text-align: center;
    background: none;
    text-transform: uppercase;

    @include size-to-720(
        (
            bottom: 8px,
            border-radius: 8px,
            padding-top: 4px,
            padding-bottom: 4px,
            padding-left: 6px,
            padding-right: 6px
        )
    );

    border: 3px solid transparent;
    @media only screen and (max-width: 1280px) {
        border: math.div(3px, 1.5) solid transparent;
    }
}


/*
Dynamic Width Buttons
*/
button[webtv-dynamic-width-button],
    button[webtv-dynamic-width-tiny-button] {
        color: $label-text-color;
        background: $button-background;
        border: $button-border;
        font-family: $primary-font;
        font-weight: $button-font-weight;

        &:hover,
        &:focus {
            background: $accent;
            border-color: $accent;
            color: $focused-text-color;
            .subtext {
                color: $focused-subtext-color;
            }

            [class*='icon'],
            [class^=' icon-'] {
                color: $focused-text-color;
            }
        }
}

$buttonHeight: 60px;
$buttonFontSize: 24px;
$buttonIconSize: 32px;
$buttonPadding: 30px;

$buttonHeight-small: 40px;
$buttonFontSize-small: 18px;
$buttonIconSize-small: 30px;
$buttonPadding-small: 20px;

button[webtv-dynamic-width-button] {
    @include size-to-720(
        (
            height: $buttonHeight,
            font-size: $buttonFontSize
        )
    );

    .wrapper {
        @include size-to-720(
            (
                padding-left: $buttonPadding,
                padding-right: $buttonPadding
            )
        );
    }

    .icon {
        @include size-to-720(
            (
                font-size: $buttonIconSize
            )
        );
    }

    &.only-icon {
        @include size-to-720(
            (
                width: $buttonHeight
            )
        );
    }
}

button[webtv-dynamic-width-tiny-button] {
    @include size-to-720(
        (
            height: $buttonHeight-small,
            font-size: $buttonFontSize-small
        )
    );

    .wrapper {
        @include size-to-720(
            (
                padding-left: $buttonPadding-small,
                padding-right: $buttonPadding-small
            )
        );
    }

    .icon {
        @include size-to-720(
            (
                font-size: $buttonIconSize-small
            )
        );
    }

    &.only-icon {
        @include size-to-720(
            (
                width: $buttonHeight-small
            )
        );
    }
}

button[webtv-dynamic-width-button],
button[webtv-dynamic-width-tiny-button] {
    transition: opacity 0.5s;
    padding: 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
    @include tv720 {
        box-shadow: 0 0 math.div(4px, 1.5) 0 rgba(0, 0, 0, 0.6);
    }

    @include size-to-720(
        (
            border-radius: 8px
        )
    );

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content:not(:only-child):not(:empty) {
        @include size-to-720(
            (
                margin-left: 20px
            )
        );
    }

    &.only-icon {
        .wrapper {
            padding: 0;
        }
    }

    &[disabled] {
        opacity: 0.3;
        pointer-events: none;
    }
}