
$primary: "#fff";
$secondary: "#000";
$primay-bg: "#FF5655";
$secondary-bg: "#f4c4c4";

.button {
    border: 0;
    line-height: 1;
    font-size: 15px;
    cursor: pointer;
    font-weight: 700;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;

    &.primary {
        color: $primary;
        background-color: #FF5655;
    } 

    &.secondary {
        color: #000;
        background-color: #f4c4c4;
    }

    &.small {
        padding: 7px 25px 8px;
    }

    &.medium {
        padding: 9px 30px 11px;
    }
}