@import './mixins';

@mixin flex {
    display: flex;
}

@mixin static-page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

@mixin static-page-flex {
    @include static-page;
    @include flex;
    justify-content: center;
    align-items: center;
}
